.bg-red{
    background-color: rgb(221, 92, 92);
}
.text-white{
    color: white;
}
.d-flex{
    display: flex;
}
.flex-row{
    flex-direction: row;
}
.justify-content-center{
    justify-content: center;
}
.align-items-center{
    align-content: center;
}
.w-100{
    width: 100%;
}
.navbar {
    overflow: hidden;
    position: fixed;
    background-color: white;
    top: 0;
    width: 100%;
    z-index: 1;
}
.home{
    text-decoration: none;
    font
}
#home{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTpmO7hJZWpV31_nA2YrsKSgdzQPLtDrXXpjOc7MSuYZ21QKhycpg);
    height: 480px;
    background-repeat: no-repeat;
    background-size: cover;

}