<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'meta-data.html' %}
</head>
<body >
    {% include 'navbar.html' %}
    <div class="id_cap_doi">
        
        <img  src="{{food.link_san_pham}}" alt=""><br>
        <strong>Nguyên liệu:</strong>
        <br>
        {% for item in food.nguyen_lieu%}
            - 
            {{item}}
            <br>
        {% endfor %}
        <strong>Các bước thực hiện:</strong>
        {% for item in food.cach_lam %}
            <br>
            {{item["mo_ta"]}}
            <br>
            <img src="{{item["link"]}}" alt="">
            <br>
        {%endfor%}
    </div>
</body>
</html>
