<!DOCTYPE html>
<html lang="en">
<head>
        {% include 'meta-data.html' %}
   
</head>
<body>
    <!-- <div class="menu ">
        <a class="" style="color:white" href="{{ url_for('home') }}">MENU</a>
    </div> -->
    {% include 'navbar.html' %}
    <div style="padding-top:60px">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                            {% for food in foods %}
                                {% if loop.index == 1 %}
                                    <div class="carousel-item active" style="height:500px width:10% ">
                                {% else %}
                                    <div class="carousel-item" style="height:500px width:10%">
                                {% endif %}
                                    <a href="{{ url_for('cap_doi', food_id = food.id) }}">
                                        <img class="d-block w-100" src="{{food.link_san_pham}}" alt="First slide">
                                        <div class="carousel-caption d-none d-md-block">
                                            <h5 style="color: black">{{ food.ten_mon }}</h5>
                                        </div>
                                    </a>
                                </div>
                            {% endfor %}    
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
    </div>
</body>
</html>